<h1>Sales Report</h1>

<%=form_tag(sales_report_path, :method => :post) do %>
    <p>Start Date</p>
    <%=date_field_tag :start_date %>

    <p>End Date</p>
    <%= date_field_tag :end_date %>

    <br>

    <%=submit_tag "Submit"%>

    <%end%>

<table>
  <thead>
  <tr>
    <th>Date of sale</th>
    <th>Quantity</th>
    <th>Product</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date_of_sale %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.product %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
