<p id="notice"><%= notice %></p>

<p>
  <strong>Date of sale:</strong>
  <%= @sale.date_of_sale %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product.name %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
